{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'logs/css/logme.css' %}" />

        <div class="row">
            <div class="large-12">
                <span id="welcome">Dodaj wpis</span>
            </div>
        </div>
        {% if error %}
            <div class="row error">
                <div class="large-12">
                    <p>{{ error }}</p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="medium-7 medium-centered large-7 large-centered columns">
                <form id="logform" action="{% url 'logs.views.logme'%}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="medium-4 large-4 columns">
                      <label class="right inline">Data</label>
                    </div>
                    <div class="medium-8 large-8 columns">
                      <span>{{ now|date:"l" }}, {{ now|date:"d-m-Y" }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 large-4 columns">
                      <label class="right inline">Godziny pracy</label>
                    </div>
                    <div class="medium-8 large-8 columns">
                        {{ form.start_hour }}:
                        {{ form.start_minute }}
                        do
                        {{ form.end_hour }}:
                        {{ form.end_minute }}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 large-4 columns">
                      <label class="right inline">Przerwa</label>
                    </div>
                    <div class="medium-8 large-8 columns">
                        {{ form.gap_time }} godziny
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 large-4 columns">
                      <label class="right inline">Podsumowanie dnia</label>
                    </div>
                    <div class="medium-8 large-8 columns">
                        {{ form.summary }}
                    </div>
                </div>
                <div class="row">
                    <div class="medium-4 large-4 columns">
                      <label class="right inline">Napotkane problemy</label>
                    </div>
                    <div class="medium-8 large-8 columns">
                        {{ form.problems }}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <button type="submit" name="submit" id="button">Prześlij</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <a href="/profile">Powrót</a>
{% endblock %}